{% extends "template.twig" %}
{% block title %}Exception Raised{% endblock %}

{% block main %}
<div class="container">
    <div class="title">
        <span>Exception</span>
        <img src="../../img/icons/ico-error.png" />
    </div>
    <ul class="content">
        <li>{{ message }}</li>
    </ul>
</div>
{% endblock %}

{% block sidebar %}{{ parent() }}{% endblock %}
