{% extends "template.twig" %}
{% block title %}Success{%endblock %}

{% block main %}

<script language="javascript" type="text/javascript">
window.setTimeout('window.location = "{{ server.HTTP_REFERER }}"', 2000);
</script>

<div class="container">
    <div class="title">
        <span>Notification!</span>
        <img src="../../img/icons/ico-error.png" />
    </div>
    <ul class="content">
        <li>{{ message }}</li>
    </ul>
</div>
{% endblock %}

{% block sidebar %}{{ parent() }}{% endblock %}
