{% extends "template.twig" %}

{% block title %}Member's Profile{% endblock %}{% block main %}
<div class="container">
  <div class="title">
    <span>Member's Profile</span><img src="../../img/icons/ico-member.png" />
  </div>
    <div class="content">
        <form action="/articles/create/{{ article.id }}" method="POST">
        <div class="info">
            <img class="avatar" src="{{ account.avatar|e }}" />
            <span class="btn shadowbox">{{ account.name }}</span>
        </div>
        <div class="input"><textarea name="comment" rows="10" cols="10"></textarea></div>
        </form>
    </div>
  
  <div class="blankform center">
        <table>
          <tr>
            <td class="ltd"><strong>Username</strong>:</td>
            <td class="rtd">{{ account.name }}</td>
          </tr>
          <tr>
            <td class="ltd">Signed Up:</td>
            <td class="rtd">{{ account.signed }}</td>
          </tr>
          <tr>
            <td class="ltd">Email:</td>
            <td class="rtd">{{ account.email }}</td>
          </tr>
          <tr>
            <td class="ltd">Avatar URL:</td>
            <td class="rtd">{{ account.avatar }}</td>
          </tr>
          <tr>
            <td align="center" colspan="2">
              <a href="" style="margin-right: 10px;">Haben Sie Ihr Passwort vergessen?!</a> 
              <input class="submit shadowbox" name="signin"type="submit" value="Sign In" />
            </td>
          </tr>
        </table>
  </div>
</div>

{% endblock %} {% block sidebar %}{{ parent() }}{% endblock %}