{% extends "template.twig" %}
{% block title %}Create a new Account{% endblock %}
{% block main %}
<div class="container">
    <div class="title">
        <span>Create a new Account</span>
        <img src="../../img/icons/ico-member.png" />
    </div>
    <div class="blankform center">
        <form action="/membership/signup" method="POST">
        <input name="name" type="hidden" value="signup" />
        <table>
            <tr>
                <td class="ltd">
                <label for="username">Username</label>
                </td>
                <td>
                <input id="username" name="username" type="text" />
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class="ltd">
                <label for="password">Password</label>
                </td>
                <td>
                <input id="password" name="password" type="password" />
                </td>
                <td class="rtd">
                at least {{ cms.pwdlength }} characters
                </td>
            </tr>
            <tr>
                <td class="ltd">
                <label for="confirmation">Confirmation</label>
                </td>
                <td>
                <input id="confirmation" name="confirmation" type="password" />
                </td>
                <td class="rtd">
                at least {{ cms.pwdlength }} characters
                </td>
            </tr>
            <tr>
                <td class="ltd">
                <label for="email">E-Mail</label>
                </td>
                <td>
                <input id="email" name="email" type="email"/>
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class="ltd">
                <label for="country">Country</label>
                </td>
                <td>
                <input id="country" name="country" type="text" />
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class="ltd">
                <label for="website">Website</label>
                </td>
                <td>
                <input id="website" name="website" type="text" />
                </td>
                <td>&nbsp;</td>
            </tr> 
            <tr>
                <td align="center" colspan="2">
                <input id="agreement" name="agreement" type="checkbox" />
                <span style="margin-right: 10px;">
                I have read and agree to the <a href="">terms</a> of use
                </span>
                <input class="submit" type="submit" value="Sign Up" />
                </td>
                <td>&nbsp;</td>
            </tr>  
        </table>
        </form>
    </div>
</div>
{% endblock %}
{% block sidebar %}{{ parent() }}{% endblock %}
