{% extends "template.twig" %}
{% block title %}Logging in with existing Account{% endblock %}
{% block main %}
<div class="container">
    <div class="title">
        <span>Logging in with existing Account</span>
        <img src="../../img/icons/ico-member.png" />
    </div>
    <div class="blankform center">
        <form action="/membership/signin" method="POST">
        <input name="name" type="hidden" value="signin" />
        <table>
            <tr>
                <td class="ltd">
                <label for="username">Username</label>
                </td>
                <td class="rtd">
                <input id="username" name="username" type="text" />
                </td>
            </tr>
            <tr>
                <td class="ltd">
                <label for="password">Passwort</label>
                </td>
                <td class="rtd">
                <input id="password" name="password" type="password" />
                </td>
            </tr>
            <tr>
                <td align="center" colspan="2">
                <a href="" style="margin-right: 10px;">Haben Sie Ihr Passwort vergessen?!</a> 
                <input class="submit shadowbox" type="submit" value="Sign In" />
                </td>
            </tr>
        </table>
        </form>
    </div>
</div>
{% endblock %}
{% block sidebar %}{{ parent() }}{% endblock %}
