@CHARSET "UTF-8";

html
{
    margin: 0; padding: 0;
}

body
{
    background: #FFFFFF;
    color: #3C3C3C;
    font-family: Ubuntu, Arial, Tahoma, "Trebuchet MS";
    font-size: 12px;
}

.wrapper 
{
    margin: 0 auto;
    width: 1080px;
}

a 
{
    color: #15478C;
    text-decoration: none;
}

a:hover 
{
    color: #006699;
}

img
{ 
    border: 1px solid #DDDDDD; 
    padding: 3px 3px 3px 3px;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

.shadowbox 
{
    background: #EEEEEE; border: 1px solid #DDDDDD;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);        
    /* Mozilla Firefox */
    background: -moz-linear-gradient(top, #EEEEEE, #FFFFFF);
    /* Google Chrome */
    background: -webkit-linear-gradient(top, #EEEEEE, #FFFFFF);
    /* Internet Explorer */
    background: -ms-linear-gradient(top, #EEEEEE, #FFFFFF);
    /* Opera */
    background: -o-linear-gradient(top, #EEEEEE, #FFFFFF);    
}

/*********** @ID: sidebar **********/

#sidebar
{    
    width: 250px;
}

/*********** @ID: content **********/

#content
{    
    margin-left: 260px;
}

/*********** @ID: footer ***********/

#footer
{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    text-align: right;
}

/********** @CLASS: title **********/

.title h2 
{
    display: inline;
}

.title h4
{
    display: inline; font-weight: normal;
}

.title img
{
    float: right;
}

.title
{
    background: linear-gradient(#e2e2e2, #f1f1f1);
    border: 1px solid #d4d4d4;
    /* CSS 3*/ 
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;   
    /* Mozilla Firefox */
   -moz-border-radius-bottomright: 5px;
   -moz-border-radius-topright: 5px;
    /* Google Chrome */
   -webkit-border-bottom-right-radius: 5px;
   -webkit-border-top-right-radius: 5px;  
    color: #061F4C;
    cursor: pointer;
    font-size: 11px; 
    height: 23px;
    letter-spacing: 0.6px;
    line-height: 27px;
    margin-bottom: 7px;
    padding: 2px 5px 3px 10px;
    text-transform: uppercase;   
}

/********* @CLASS: container *********/

.container
{
    border: 1px solid #d4d4d4;
    margin-bottom: 10px; 
    padding: 7px 5px 5px 5px; 
    /* CSS 3*/
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px; 
    /* Mozilla Firefox */
   -moz-border-radius-bottomright: 5px;
   -moz-border-radius-topright: 5px;
    /* Google Chrome */
   -webkit-border-bottom-right-radius: 5px;
   -webkit-border-top-right-radius: 5px;      
}

/********* @CLASS: article *********/

.article, .comment, .textarea
{
    border: 1px solid #d4d4d4;
    margin: 10px auto;
    padding: 7px 5px 5px 5px; 
    /* CSS 3*/
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px; 
    /* Mozilla Firefox */
   -moz-border-radius-bottomright: 5px;
   -moz-border-radius-topright: 5px;
    /* Google Chrome */
   -webkit-border-bottom-right-radius: 5px;
   -webkit-border-top-right-radius: 5px;  
}

.article .description
{
    font-size: 12px;
    height: 100px;
    margin: 5px auto 0px auto;
    overflow: hidden;
    padding-bottom: 7px;
    text-transform: uppercase;
}

.article .picture
{
    float: left; 
    margin-right: 10px;
}

.article .picture img
{
    height: 100px;
    padding: 2px 2px 2px 2px;
    width: 200px;
}

.article .author
{
    float: left;
    height: 28px;
    margin: 10px 10px auto auto;   
    padding: 4px 10px auto auto;    
}

.article .statistic
{
    float: right;
    font-size: 11px;
    height: 100px;
    padding-top: 4px;
    position: relative;
}

.article .statistic span 
{
    display: block;    
    margin-top: 5px;
    padding-right: 5px;
    text-align: right;
}

.article .statistic span.readmore 
{
   position: absolute; 
   bottom: 0; right: 0;
}

.article a
{
    color: #069;
    font-size: 11px;
}

.article a:hover 
{
    color: #15478C;
}

.article .statistic span.readmore a 
{
   font-size: 11px;
}

/********* @CLASS: comment *********/

.comment .content, .article .content
{
	color: #393838;
    line-height: 19px;
    padding: 5px 10px 5px 10px;
    text-align: justify;
}

.comment .content a, .article .content a
{
	text-transform: uppercase;
}

.comment .content a:hover, .article .content a:hover
{
	border-bottom: 1px solid #000;
	padding-bottom: 3px;
}

.textarea .info, .content .info
{
	float:left;
	text-align: center;
	width: 150px;
}

.textarea .avatar, .content .avatar
{
	height: 100px;
	margin: 10px 20px;
	width: 100px;
}

.textarea .input, .content .input
{
	margin-left: 150px;
}

/************ @ID: MENU ************/

#menu
{
    height: 5px; padding: 0 0 10px 10px;
}

#menu li 
{        
    display: inline; margin: -5px 10px 0 0;    
    padding: 5px 10px 5px 10px;
    /* CSS 3 */
    border-bottom-left-radius: 7px;
    border-top-right-radius: 7px;
    /* Mozilla Firefox */
   -moz-border-radius-bottomleft: 7px;
   -moz-border-radius-topright: 7px;
    /* Google Chrome */
   -webkit-border-bottom-left-radius: 7px;
   -webkit-border-top-right-radius: 7px;
}

#menu li:hover
{
    background: #EEEEEE;
}

#menu li a
{    
    color: #203551; /*  color: #15478C; */
    font-size: 11px;
    text-transform: uppercase;
}

#sidebar li, .article li, .content li
{
    line-height: 20px;
    list-style: none;
    list-style-image: url("../../img/icons/ico-point.gif");
    margin-bottom: -5px;
}

/************ @ID: TABLE LOGIN ************/

.center
{
	margin: 0 auto;
}

.blankform form table
{
	border-spacing: 10px;
    border-collapse: separate;
	margin: 0 auto;
}

.blankform form table input[type=text], .blankform form table input[type=password], .blankform form table input[type=email]
{
	border: 1px solid #B7B7B7;
	padding: 3px 5px;
}

.ltd
{
    font-size: 11px;
	text-align: right;
    text-transform: uppercase;
}

.rtd
{
	text-align: left;
}

.submit, .btn
{
	background: #eb7a40;
	border: 0px;
    border-radius: 3px;
    color: #fff;
    font-size: 11px;
    line-height: 20px;
    padding: 2px 6px;
    text-transform: uppercase;
    text-decoration: none;
}

.btn
{
	padding: 5px;
}

textarea
{
	border: 1px solid #B7B7B7;
	border-radius: 3px;
	padding: 5px;
	width: 98%;
}

.lowercase
{
	text-transform: lowercase;
}
