<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}{% endblock %} - Nikolaj Schepsen's Blog</title>
<link href="/../css/default.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="wrapper">
    <header>
      <div id="header">
        <nav>
          <ul class="shadowbox" id="menu">
            {% for item in cms.navigation %}
            <li class="shadowbox {{ item.alignment }}"><a href="{{ item.url }}">{{ item.name }}</a></li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </header>
    <div id="main">
      {% block sidebar %}
      <div id="sidebar" class="left">
        <div class="container">
          <div class="title">
            Kontakt <img src="../../img/icons/ico-email.png" />
          </div>
          <ul class="content">
            <li>Email: {{ cms.email }}</li>
          </ul>
        </div>
      </div>
      {% endblock %}  
      <div id="content">{% block main %}{% endblock %}</div>
    </div>
    <footer>
      <div id="footer">
        Powered by <a href="{{ cms.repository }}">Blog &amp; Space CMS</a> | {{ cms.copyright }}
      </div>
    </footer>
  </div>
</body>
</html>
