{% extends "template.twig" %}
{% block title %}Home{% endblock %}
{% block main %} 
{% for article in articles %}  
<div class="article">
<div class="title">
	<h2>{{ article.title }}</h2>
    <img src="../../img/icons/ico-feed.png" />
</div>
<div class="description">
    <div class="picture">
        <img src="{{ "../../img/categories/%03d.png"|format(article.catid) }}" />
    </div>
    <div class="author">
        BY <a href="/membership/profile/{{ article.uid }}">{{ article.username }}</a> @ {{ article.created_at|date("d. F Y, H:i") }}        
    </div>
    <div class="statistic">
        <span>Views: {{ article.views }}</span>
        <span>Kommentare: {{ article.answers }}</span>
        <span class="readmore">
            <a href="/articles/read/{{ article.id }}">READ MORE</a>
        </span>
    </div>
</div>
</div>  
{% endfor %}
{% endblock %}
{% block sidebar %}{{ parent() }}{% endblock %}