{% extends "template.twig" %}
{% block title %}{{ article.title }}{%endblock %}
{% block main %}
<div class="article">
    <div class="title">
        <span>
            <h2>{{ article.title }}</h2>
            <img class="right" src="../../img/icons/ico-feed.png" />
        </span>
    </div>
    <div class="content">{{ article.text|raw|nl2br }}</div>  
</div>
<div id="comments">
    {% for c in comments %}
    <div class="comment">
        <div class="title">
            <span>
                <h4>
                {{ c.date | date("d. F Y, H:i") }}
                <span class="lowercase"> von </span>
                <a href="/membership/profile/{{ c.author.id }}">{{ c.author.username }}</a>
                </h4>
                <img src="../../img/icons/ico-edit.png" />
            </span>
        </div>
        <div class="content">{{ c.comment | nl2br }}</div>
    </div>
    {% endfor %}
    <!-- Comment's Input Field (For logged Users Only) -->       
    {% if session.group >= 2 %}
    <div class="textarea">
        <div class="title">
            <span>
                <h4>Schreiben Sie einen Kommentar</h4>
                <img src="../../img/icons/ico-comment.png" />
            </span>
        </div>
        <div class="content">
            <form action="/articles/comment" method="POST">
            <input name="aid" type="hidden" value="{{ article.id }}" />
            <input name="name" type="hidden" value="comment" />
            <div class="info">                
                <img class="avatar" src="{{ account.avatar }}" />
                <input class="submit shadowbox" type="submit" value="ABSENDEN" />
            </div>
            <div class="input">
                <textarea name="comment" rows="10" cols="10"></textarea>
            </div>
            </form>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
{% block sidebar %}{{ parent() }}{% endblock %}